/*
.body-allocate-bottom {
  margin-bottom: 70px;
}
*/

/* GENERAL RULES */



.body-allocate-top {
  margin-top: 97px;
}

.row-limit {
  max-width: 960px;
  margin: auto;
}

@media (min-width: 1200px) {
  .col-lg-offset-1pt5 {
    margin-left: 12.5%
  }
}

a.anchor {
  display: block;
  position: relative;
  top: calc(-97px - 60px);
  visibility: hidden;
}

@media(max-width: 768px) {
  a.anchor {
    top: -76px;
  }
}

.section-allocate-top {
  margin-top: 97px;
}

@media(max-width: 768px) {
  .section-allocate-top {
    margin-top: 76px;
  }
}

.section-content {

}

.section-content>section {
  padding-top: 60px;
  padding-bottom: 60px;
}

.section-content>.section-link-prev {
  padding-top: 0;
}

.section-content>.section-link-prev h1.h1-title:first-of-type {
  margin-top: 0;
}

.section-content>section,
.section-content>.section-white {
  background-color: white;
}

.section-content>.section-gray {
  background-color: #f8f8f8;
}

.section-content>section>.container-fluid>.row>.col-lg-12:first-of-type>h1 {
  /*margin-bottom: 25px;*/
  margin-bottom: 55px;
}

.h1-title {

}

.h1-title-reduce-bottom {
  margin-bottom: 20px !important;
}

/* HOME - ACTIVITIES */

.panel-event .panel-heading {
  background-size: cover;
  background-position: center center;
  height: 180px;
  position: relative;
}

.panel-event .panel-heading .panel-event-date {
  display: block;
  position: absolute;
  bottom: 0;
  width: 65px;
  background-color: #f5f5f5;
  padding: 10px 10px 12px 10px;
  border-radius: 3px 3px 0 0;
  border-style: solid;
  border-width: 1px 1px 0 1px;
  border-color: #ddd;
}

.panel-event .panel-heading .panel-event-date span {
  line-height: 1em;
  display: block;
  text-align: center;
  text-transform: uppercase;
}

.panel-event .panel-heading .panel-event-date span:first-of-type {
  font-weight: 500;
  padding-bottom: 6px;
  letter-spacing: 2px;
  margin-bottom: -3px;
  margin-right: -2px;
}

.panel-event .panel-heading .panel-event-date span:nth-of-type(2) {
  font-size: 2em;
  margin-right: -2px;
  margin-bottom: -6px;
  /*padding-bottom: 6px;*/
}

.panel-event .panel-heading .panel-event-date span:nth-of-type(3) {
  font-size: 0.5em;
  font-weight: 600;
  margin-right: -2px;
  margin-bottom: -3px;
  padding-top: 6px;
}

.panel-event .panel-body h2 {
  margin-top: 3px;
  margin-bottom: 3px;
}

/* HOME - ARTIST */

.img-artist-featured {
  border-radius: 100%;
  max-width: 120px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.embed-sizer {
  max-width: 640px;
  margin: auto;
}
@media (max-width: 768px) {
  .embed-sizer {
    max-width: none;
    margin-left: -30px;
    margin-right: -30px;
    width: calc(100% + 60px);
  }
}

/* SUBPAGES */

.div-overlay-black {
  background-color: rgba(0,0,0,.5);
}

.section-title {

  background-size: cover;
  background-position: center center;
}

.section-title>.div-overlay-black {
  padding-top: 126px;
  padding-bottom: 76px;
}

.section-title h1 {

}

.section-title p {
  max-width: 540px;
  margin-left: auto;
  margin-right: auto;
}

/* ACTIVITIES */

.div-activity {
  margin-bottom: 30px;
}

/*.row>.col-lg-6:nth-last-of-type(2)>.div-activity,
.row>.col-lg-6:last-of-type>.div-activity*/
.container-fluid>.row:last-of-type>.col-lg-6>.div-activity {
  margin-bottom: 0;
}

.div-activity img {
  margin-left: auto;
  margin-right: auto;
}


/* ACTIVITIES - EVENT - DRILLDOWN */

.section-event-header,
.section-artist-header {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.section-event-header>.div-overlay-black {
  padding-top: 150px;
  padding-bottom: 150px;
}

.section-artist-header>.div-overlay-black {
  padding-top: 235px;
  padding-bottom: 235px;
}

.section-artist-info {

}

.section-artist-info img {
  border-radius: 100%;
  margin-top: -160px;
  max-width: 200px;
}

.section-artist-info h1 {
  margin-bottom: 0 !important;
}

/*
.section-artist-info h1~span {
  display: block;
  margin-bottom: 55px;
}
*/

.row-limit-article,
.row-limit.row-limit-article {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.section-article p {
  font-size: 1.125em;
  font-weight: 300;
  line-height: 2.5em;
}

/* ARTISTS */

.div-artist {
  margin-bottom: 30px;
}

.div-artist img {
  border-radius: 100%;
  width: 100%;
  max-width: 240px;
  margin-left: auto;
  margin-right:auto;
}

.div-artist h2 {
  margin-bottom: 0;
}

.img-work {
  margin-bottom: 30px;
}

/*
.row:last-child .img-work {
  margin-bottom: 0;
}
*/

.div-work {
  position: relative;
  width: 100%;
  padding-bottom: calc(75% - 6px);
  border-style: solid;
  border-width: 3px;
}

.div-work span {
  position: absolute;
  top: calc(50% - 10px);
  display: block;
  width: 100%;
  text-align: center;
}

/* SHOP */

.row-limit.row-limit-shop {
    max-width: 1200px;
}

@media (min-width: 768px) {
  .div-filters {
    margin-top: 6px;
  }
}

.label-shop-filter,
.label-shop-order {
  text-transform: uppercase;
}

@media (min-width: 768px) {
  .label-shop-order {
    text-align: right;
    width: 100%;
    margin-top: 6px;
  }
}

.select-shop-filter,
.input-shop-filter {
  margin-bottom: 15px;
}

.select-shop-order {
  margin-bottom: 30px;
}

.panel-product {
  margin-bottom: 30px;
}

.panel-product .panel-heading {
    height: 240px;      /* equals max image height */
    white-space: nowrap;
    text-align: center;
    /*margin: 1em 0;*/
    padding: 0;
}

.panel-product .panel-heading .helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    white-space: nowrap;
}

.panel-product .panel-heading img {
  background: #3A6F9A;
  vertical-align: middle;
  max-height: 100%;
  max-width: 100%;
  margin-left: -0.26em;
}

.panel-product .panel-body h2 {
  margin-top: 0;
  margin-bottom: 0;
}
