---
title: Activities
category: "activities"
layout: section-titled
navHide: title
---

<section class="section-content">
  <a class="anchor" id="content"></a>

  {% if site.switchActivitiesExhibits == true %}
  <section>
    <a class="anchor" id="gallery"></a>
    <div class="container-fluid">
      <div class="row row-limit">
        <div class="col-lg-12 text-center">
          <h1 class="h1-title h1-title-reduce-bottom">Gallery Schedules</h1>
          <p>The Erehwon Art Center is open to visitors from 9:00 AM to 5:00 PM, and on Saturdays by appointment only.</p>
        </div>
      </div>

      <div class="row row-limit">
        {% for eachfloor in site.exhibits %}
        <div class="col-lg-{{ 12 | divided_by: forloop.length }} col-md-{{ 12 | divided_by: forloop.length }} col-sm-{{ 12 | divided_by: forloop.length }} col-xs-12">
          <h2>{{ eachfloor.floor }}</h2>
          {% for eachexhibit in eachfloor.exhibits %}
          {% include item-exhibit.html %}
          {% endfor %}
        </div>
        {% endfor %}
      </div>
    </div>
  </section>
  {% endif %}

  {% if site.switchActivitiesEventsInte == true %}
  <section class="section-gray{% if site.switchActivitiesEventsExte == true %} section-link-prev{% endif %}">
    <a class="anchor" id="events-erehwon"></a>
    <div class="container-fluid">
      <div class="row row-limit">
        <div class="col-lg-12">
          <h1 class="h1-title text-center">Latest Erehwon Events</h1>
        </div>
      </div>
      <div class="row row-limit">
        {% assign argevents = site.inteEvents %}
        {% include sectioncontent-events.html %}
      </div>
    </div>
  </section>
  {% endif %}

  {% if site.switchActivitiesEventsExte == true %}
  <section class="section-gray">
    <a class="anchor" id="events"></a>
    <div class="container-fluid">
      <div class="row row-limit">
        <div class="col-lg-12">
          <h1 class="h1-title text-center">Latest Art Events</h1>
        </div>
      </div>
      <div class="row row-limit">
        {% assign argevents = site.exteEvents %}
        {% include sectioncontent-events.html %}
      </div>
    </div>
  </section>
  {% endif %}

  {% if site.switchActivitiesEventsExtra == true %}
  <section class="section-gray{% if site.switchActivitiesEventsExte == true or site.switchActivitiesEventsInte == true %} section-link-prev{% endif %}">
    <div class="container-fluid">
      <div class="row row-limit">
        <div class="col-lg-12">
          <h1 class="h1-title text-center">{% if site.switchActivitiesEventsExte == true or site.switchActivitiesEventsInte == true %}Other{% else %}Featured{% endif %} Erehwon Events</h1>
        </div>
      </div>
      <div class="row row-limit">
        {% for eachevent in site.extraEvents %}
        <div class="col-lg-3">
          {% include item-event.html %}
        </div>
        {% endfor %}
      </div>
    </div>
  </section>
  {% endif %}

  {% if site.switchActivitiesWorkshops == true %}
  <section>
    <a class="anchor" id="workshops"></a>
    <div class="container-fluid">
      <div class="row row-limit">
        <div class="col-lg-12">
          <h1 class="h1-title text-center">Workshops, Art Classes &amp; Lectures</h1>
        </div>
      </div>
      {% for eachactivity in site.workshops %}
      {% assign mod = forloop.index | modulo:2 %}
      {% if mod == 1 %}
      <div class="row row-limit">
      {% endif %}
        <div class="col-lg-6">
          {% include item-activity.html %}
        </div>
      {% if mod == 0 %}
      </div>
      {% endif %}
      {% endfor %}
      {% if mod != 0 %}
      </div>
      {% endif %}
    </div>
  </section>

  <section class="section-gray">
    <a class="anchor" id="cta"></a>
    <div class="container-fluid">
      <div class="row row-limit">
        <div class="col-lg-12">
          <h1 class="h1-title h1-title-reduce-bottom">Interested?</h1>
          <p>Send us an e-mail at {{ site.email }} and we'll get in touch with you soon!</p>
        </div>
      </div>
    </div>
  </section>
  {% endif %}


</section>
