---
title: Activities
category: "activities"
layout: section-titled
navHide: title

featureEventsId:
 - "artebotanica"
 - "bastion"

description: "Erehwon has been very active in the Philippine art scene since its conception. Aside from hosting events and housing exhibitions, the foundation also offers workshops and lectures occasionally."
---

<section class="section-content">
  <a class="anchor" id="content"></a>

  {% if site.switchActivitiesExhibits == true %}
  <section>
    <a class="anchor" id="schedule"></a>
    <div class="container-fluid">
      <div class="row row-limit">
        <div class="col-lg-12 text-center">
          <h1 class="h1-title h1-title-reduce-bottom">Exhibition Schedules</h1>
          <p>The Erehwon Art Center is open to visitors from 9:00 AM to 5:00 PM, and on Saturdays by appointment only.</p>
        </div>
      </div>

      <div class="row row-limit">
        {% for eachfloor in site.exhibits %}
        <div class="col-lg-{{ 12 | divided_by: forloop.length }} col-md-{{ 12 | divided_by: forloop.length }} col-sm-{{ 12 | divided_by: forloop.length }} col-xs-12">
          <h2>{{ eachfloor.floor }}</h2>
          {% for eachexhibit in eachfloor.exhibits %}
          {% include item-exhibit.html %}
          {% endfor %}
        </div>
        {% endfor %}
      </div>
    </div>
  </section>
  {% endif %}

  {% if site.switchActivitiesEventsMixed == true %}
  <section class="section-gray section-light">
    <a class="anchor" id="featured"></a>
    <div class="container-fluid">
      <div class="row row-limit">
        <div class="col-lg-12">
          <h1 class="h1-title text-center">Featured Art Events</h1>
        </div>
      </div>

      <div class="row row-limit">
        {% for eacheventid in page.featureEventsId %}
        {% assign bigforLength = forloop.length %}
        {% assign bigforIndex = forloop.index %}

        {% assign checkmatch = false %}

        {% for onlyevent in site.inteEvents %}
        {% if onlyevent.id == eacheventid %}
        {% assign checkmatch = true %}
        {% break %}
        {% endif %}
        {% endfor %}

        {% if checkmatch == true %}
        {% assign eventscan = site.inteEvents %}
        {% else %}
        {% for onlyevent in site.exteEvents %}
        {% if onlyevent.id == eacheventid %}
        {% assign checkmatch = true %}
        {% break %}
        {% endif %}
        {% endfor %}
        {% if checkmatch == true %}
        {% assign eventscan = site.exteEvents %}
        {% endif %}
        {% endif %}

        {% for onlyevent in eventscan %}
        {% if onlyevent.id == eacheventid %}
        {% assign eachevent = onlyevent %}
        <div class="col-lg-4 col-md-4 col-sm-{% if bigforLength == 2 %}5{% elsif bigforLength == 1 %}6{% else %}4{% endif %} col-xs-12{% if bigforLength == 2 and bigforIndex == 1 %} col-lg-offset-2 col-md-offset-2 col-sm-offset-1 col-xs-offset-0{% elsif bigforLength == 1 and bigforIndex == 1 %} col-lg-offset-4 col-md-offset-4 col-sm-offset-3 col-xs-offset-0{% endif %}">
          {% include panel-event.html %}
        </div>
        {% endif %}
        {% endfor %}

        {% endfor %}
      </div>

    </div>
  </section>
  {% endif %}

  {% if site.switchActivitiesEventsInte == true %}
  <section class="section-gray">
    <a class="anchor" id="events-erehwon"></a>
    <div class="container-fluid">
      <div class="row row-limit">
        <div class="col-lg-12">
          <h1 class="h1-title text-center">Latest Events</h1>
        </div>
      </div>
      <div class="row row-limit">
        {% assign argevents = site.inteEvents %}
        {% include sectioncontent-events.html %}
      </div>
    </div>
  </section>
  {% endif %}

  {% if site.switchActivitiesEventsExte == true %}
  <section class="section-gray{% if site.switchActivitiesEventsInte == true %} section-link-prev{% endif %}">
    <a class="anchor" id="events"></a>
    <div class="container-fluid">
      <div class="row row-limit">
        <div class="col-lg-12">
          <h1 class="h1-title text-center">Latest Art Events</h1>
        </div>
      </div>
      <div class="row row-limit">
        {% assign argevents = site.exteEvents %}
        {% include sectioncontent-events.html %}
      </div>
    </div>
  </section>
  {% endif %}

  {% if site.switchActivitiesEventsExtra == true %}
  <section class="section-gray{% if site.switchActivitiesEventsInte == true or site.switchActivitiesEventsExte == true %} section-link-prev{% endif %}">
    <div class="container-fluid">
      <div class="row row-limit">
        <div class="col-lg-12">
          <h1 class="h1-title text-center">{% if site.switchActivitiesEventsExte == true or site.switchActivitiesEventsInte == true %}Other{% else %}Featured{% endif %} Erehwon Events</h1>
        </div>
      </div>
      <div class="row row-limit">
        {% for eachevent in site.extraEvents %}
        <div class="col-lg-3">
          {% include item-event.html %}
        </div>
        {% endfor %}
      </div>
    </div>
  </section>
  {% endif %}

  {% if site.switchActivitiesEventsPast == true %}
  <section class="section-light section-gray{% if site.switchActivitiesEventsMixed == true or site.switchActivitiesEventsInte == true or site.switchActivitiesEventsExte == true or site.switchActivitiesEventsExtra == true %} section-link-prev{% endif %}">
    <a class="anchor" id="gallery"></a>
    <div class="container-fluid">
      <div class="row row-limit">
        <div class="col-lg-12 col-lg-offset-4 col-md-8 col-md-offset-4 col-sm-6 col-sm-offset-6 col-xs-12 col-xs-offset-0">
          <h1 class="h1-title">Gallery</h1>
        </div>
      </div>
      {% for eachevent in site.pastEvents %}
      <a class="a-gallery" href="{{ site.baseurl }}/activities/event/gallery/{{ eachevent.id }}">
        <div class="item-gallery">
          <div class="row row-limit">
            <div class="col-lg-4 col-md-4 col-sm-5 col-xs-12">
              <div class="embed-responsive embed-responsive-4by3">
                <img class="img-responsive" src="{{site.baseurl}}/images/events/{{ eachevent.id }}/cover.jpg">
              </div>
            </div>
            <div class="col-lg-8 col-md-8 col-sm-7 col-xs-12">
              <h2>{{ eachevent.name }}</h2>
              <span>
                {{ eachevent.organizer }}<br/>
                {{ eachevent.venue }}
              </span><br/><br/>
              <p>
                {{ eachevent.excerpt }}
              </p>
              <span class="btn btn-default">Read More</span>
            </div>
          </div>
        </div>
      </a>
      {% endfor %}
    </div>
  </section>
  {% endif %}

  {% if site.switchActivitiesWorkshops == true %}
  <section>
    <a class="anchor" id="workshops"></a>
    <div class="container-fluid">
      <div class="row row-limit">
        <div class="col-lg-12">
          <h1 class="h1-title text-center">Workshops, Art Classes &amp; Lectures</h1>
        </div>
      </div>
      {% for eachactivity in site.workshops %}
      {% assign mod = forloop.index | modulo:2 %}
      {% if mod == 1 %}
      <div class="row row-limit">
      {% endif %}
        <div class="col-lg-6">
          {% include item-activity.html %}
        </div>
      {% if mod == 0 %}
      </div>
      {% endif %}
      {% endfor %}
      {% if mod != 0 %}
      </div>
      {% endif %}
    </div>
  </section>

  <section class="section-gray">
    <a class="anchor" id="cta"></a>
    <div class="container-fluid">
      <div class="row row-limit">
        <div class="col-lg-12">
          <h1 class="h1-title h1-title-reduce-bottom">Interested?</h1>
          <p>Send us an e-mail at {{ site.email }} and we'll get in touch with you soon!</p>
        </div>
      </div>
    </div>
  </section>
  {% endif %}


</section>
