---
title: About
category: "about"
layout: main
navHide: title

description: "Established in 2012, the foundation believes in the philosophy that art is essential in the development of the Filipino and the betterment of the members of a community."

about:
 - "The Erehwon Arts Foundation is a non-profit organization established in 2012 for the purpose of developing, providing and bringing Philippine culture and art to all sectors of society. It believes in the philosophy that art is essential in the development of the Filipino and the betterment of the members of a community."
 - "With headquarters at the Erehwon Art Center in Quezon City, Philippines, the Foundation operates in three areas of concern: exhibitions, artist residency, and art policy development. All three areas are supported through donations and contributions from private individuals and institutions."

vision: "To promote art within the Philippines as a means of human and social development, and to promote Philippine art overseas as an expression of Filipino creativity and culture and as the Filipino’s contribution to global cultural exchange and understanding."

mission: "To serve as a center for an active exchange of ideas in art, by encouraging and supporting the interaction between artists of every persuasion and provides a platform for discovering new ideas, and techniques, and technology in expressing creativity in different forms in the visual and performing arts."

missions:
 - "To develop artistic talent and expertise through the provision of spaces for exhibitions, art residency programs, art seminars and consultations, conferences and fora, and publications;"
 - "To advocate for the promotion and consciousness raising of art in public spaces through the cooperation and support of government and private sector entities;"
 - "To be at the forefront of arts policy formulation and implementation."

corevalues:
 - main: "Freedom"
   sub: "of thought and expression"
 - main: "Respect"
   sub: "for the rights, differences and dignity of others"
 - main: "Accountability"
   sub: "and responsibility"
 - main: "Service"
   sub: "to the community, country and humanity"
 - main: "Excellence"
   sub: "the pursuit of and commitment"

objectives:
 - "To support the arts through effective management of financial and technical resources;"
 - "To advocate for effective and truly democratic arts policies that will develop and advance the Philippine artworld;"
 - "To unite the Filipino artists regardless of origin, affiliation, and ability in order to enhance a forward-thinking and progressive Philippine artworld community;"
 - "To develop the artistic ability of Filipinos and foreigners via art residency grants, scholarships, and exhibition grants;"
 - "To stimulate qualitative and relevant artmaking in the Philippines and Southeast Asia through educational programs, database collection, documentation and research, and arts scholarship; and"
 - "To encourage artists to excel in their respective fields of endeavor through effective arts management, collections, and exchanges."

coreprograms:
 - title: "Arts Policy Council"
   description: "This body discusses, formulates, and advocates effective governmental and private sectoral policies."
 - title: "Artist Residency Program"
   description: "This program invites selected local and foreign artists to stay and work in designated artist spaces."
 - title: "Arts Exhibition and Performance Spaces Program"
   description: "This program designs opportunities for artists and curators to explore and provide creative output through the presentation, review, and publication of exhibits, performances, readings, and other artistic projects."
---

{% include section-title.html %}

<section class="section-content">
  <a class="anchor" id="content"></a>

  <section class="">
    <div class="container-fluid">
      <div class="row row-limit">
        <div class="col-lg-12">

          {% for eachabout in page.about %}
          <p>{{ eachabout }}</p>
          {% endfor %}



        </div>
      </div>
    </div>
  </section>

  <section class="section-link-prev">
    <div class="container-fluid">
      <div class="row row-limit">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">

          <h1 class="h1-title text-center">Vision</h1>
          <!--p>Erehwon Art Foundation, Incorporated seeks to be the hub and nerve
            center of the arts in the Philippines, as well as in the Southeast
            Asian region. As a non-stock, non-profit organization devoted to the
            promotion, conservation, and advocacy of the arts, the institution
            aims to bring together artists, arts administrators, writers, curators,
            and patrons to work together for the establishment of a democratic,
            just, and progressive culture of artmaking, art perception, and
            ingraining the arts into daily life.
          </p-->

          <p>{{ page.vision }}</p>

        </div>
      <!--/div>
    </div>
  </section>

  <section class="section-link-prev">
    <div class="container-fluid">
      <div class="row row-limit"-->
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">

          <h1 class="h1-title text-center">Mission</h1>

          <!--ol>
            {% for eachmission in page.missions %}
            <li>{{ eachmission }}</li>
            {% endfor %}
          </ol-->

          <p>{{ page.mission }}</p>

        </div>
      </div>
    </div>
  </section>

  <section class="section-red">
    <a class="anchor" id="values"></a>
    <div class="container-fluid">
      <div class="row row-limit">
        <div class="col-lg-12">
          <h1 class="h1-title text-center">Core Values</h1>
        </div>
        {% for eachcorevalue in page.corevalues %}
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 {% if forloop.index == 4 %} col-lg-offset-2 col-md-offset-2 col-xs-offset-0{% endif %}{% if forloop.index == 5 %} col-lg-offset-0 col-md-offset-0 col-sm-offset-3 col-xs-offset-0{% endif %}">
          <div class="div-coreprogram text-center">
            {% if site.switchAboutCoreValuesIllus == true %}<img class="img-responsive" src="{{ site.baseurl }}/images/filler-300x300.jpg">{% endif %}
            <h2>
              {{ eachcorevalue.main }}<br/>
              <small>{{ eachcorevalue.sub }}</small>
            </h2>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </section>

  <!--section class="section-gray section-link-prev">
    <div class="container-fluid">
      <div class="row row-limit">
        <div class="col-lg-12">

          <h1 class="h1-title text-center">Objectives</h1>
          <ol>
            {% for eachobjective in page.objectives %}
            <li>{{ eachobjective }}</li>
            {% endfor %}
          </ol>

        </div>
      </div>
    </div>
  </section-->

  <section>
    <a class="anchor" id="programs"></a>
    <div class="container-fluid">
      <div class="row row-limit">
        <div class="col-lg-12">
          <h1 class="h1-title text-center">Core Programs</h1>
        </div>
        {% for eachcoreprogram in page.coreprograms %}
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
          <div class="div-coreprogram text-center">
            {% if site.switchAboutCoreProgramsIllus == true %}<img class="img-responsive" src="{{ site.baseurl }}/images/filler-300x300.jpg">{% endif %}
            <h2>{{ eachcoreprogram.title }}</h2>
            <p>{{ eachcoreprogram.description }}</p>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </section>

  <section class="section-gray section-light">
    <a class="anchor" id="contact"></a>
    <div class="container-fluid">
      <div class="row row-limit">
        <div class="col-lg-12">
          <h1 class="h1-title text-center">Contact Us</h1>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-5 col-xs-12">
          <form>
            <div class="form-group">
              <label for="inputName">Name</label>
              <input type="text" class="form-control" id="inputName" placeholder="First Name Last Name">
            </div>
            <div class="form-group">
              <label for="inputEmail">E-mail address</label>
              <input type="email" class="form-control" id="inputEmail" placeholder="example@example.com">
            </div>
            <div class="form-group">
              <label for="inputMessage">Message</label>
              <textarea class="form-control" id="inputMessage" placeholder="Your message here..." style="width:100%;min-width:100%;max-width:100%;" rows="11"></textarea>
            </div>


            <button type="submit" class="btn btn-default" style="margin-bottom:15px;">Submit</button>
          </form>
        </div>
        <div class="col-lg-8 col-md-8 col-sm-7 col-xs-12">
          <strong>We're glad to hear from you!</strong>
          <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam
            nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat
            volutpat.</p>
          <div class="embed-sizer">
            <div id="map" class="embed-responsive embed-responsive-16by9">
              <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15438.757949552026!2d121.074947!3d14.673555!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x1dccf508edbfbcbe!2sErehwon+Center+for+the+Arts!5e0!3m2!1sen!2sph!4v1460828477570" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>
          </div>
          <span>
            <strong>Erehwon Art Center</strong><br/>
            {% for eachline in site.address %}
            {{ eachline }}<br/>
            {% endfor %}
            {{ site.number }}<br/>
            {{ site.email }}
          </span>
        </div>
      </div>
    </div>
  </section>

</section>

<div "alert-parent">
  <div class="alert alert-form-contact alert-success alert-dismissible" role="alert" style="display:none">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    Thanks for your feedback! We will attend to you shortly via e-mail.
  </div>
</div>
