--
layout: main
---

<section>
<h1>Activities</h1>

</section>

<section>

  <a class="anchor" id="content"></a>

  <section>
    <div class="container-fluid">
      <div class="row row-limit">
        <div class="col-lg-12">
          <h1>Recent Art Events</h1>
        </div>
        <div class="col-lg-4">
          {% include panel-event.html %}
        </div>
        <div class="col-lg-4">
          {% include panel-event.html %}
        </div>
        <div class="col-lg-4">
          {% include panel-event.html %}
        </div>
        <div class="col-lg-4">
          {% include panel-event.html %}
        </div>
        <div class="col-lg-4">
          {% include panel-event.html %}
        </div>
        <div class="col-lg-4">
          {% include panel-event.html %}
        </div>
      </div>
    </div>
  </section>

</section>
