<script type="text/javascript" src="{{ site.baseurl }}/js/jquery.min.js"></script>
<script type="text/javascript" src="{{ site.baseurl }}/js/bootstrap.min.js"></script>
<script type="text/javascript" src="{{ site.baseurl }}/js/bootstrap-slider.min.js"></script>
<script type="text/javascript" src="{{ site.baseurl }}/js/smoothscroll.js"></script>

{% if page.title == 'Shop' %}
  <script>
    var priceMin = 500;
    var priceMax = 50000;

    var rangeLower = 500;
    var rangeHigher = 50000;

    function toStringWithComma(number) {
      var textOutput = "";
      var number_copy = number;
      if (number_copy>=1000) {
        while (number_copy>=1000) {
          textOutput = (number_copy%1000).toString() + textOutput;
          if (number_copy%1000 < 100) textOutput = "0"+textOutput;
          if (number_copy%1000 < 10) textOutput = "0"+textOutput;
          number_copy = Math.floor(number_copy/1000);
          textOutput = ","+textOutput;
        }
      }
      textOutput = number_copy.toString()+textOutput;
      return textOutput;
    }

    function spanSliderPrice(lower,higher) {
      if (lower == higher) {
        $("#span-slider-price").text("Exactly \u20B1 "+toStringWithComma(lower));
      }
      else if (lower == priceMin && higher == priceMax) {
        $("#span-slider-price").text("Any price (\u20B1 "+toStringWithComma(priceMin)+" to \u20B1 "+toStringWithComma(priceMax)+")");
      }
      else {
        $("#span-slider-price").text("From \u20B1 "+toStringWithComma(lower)+" to \u20B1 "+toStringWithComma(higher));
      }
    }

    $("#input-slider-price").slider({
      id: "input-slider-price",
      min: priceMin,
      max: priceMax,
      range: true,
      focus: true,
      tooltip: 'hide',
      //tooltip_position:'bottom',
      value: [rangeLower, rangeHigher],
      step: 500
    });

    spanSliderPrice(rangeLower,rangeHigher);

    $("#input-slider-price").on("slide", function(slideEvt) {
      var range = (slideEvt.value);
      rangeLower = range[0];
      rangeHigher = range[1];
      spanSliderPrice(rangeLower,rangeHigher);
    });




  </script>
{% endif %}

{% if page.slick %}
  <script type="text/javascript" src="{{ site.baseurl }}/js/slick.min.js"></script>
  {% if page.home %}
    <script>
      $(document).ready(function(){
        $('.slick-jumbotron').slick({
          slidesToShow: 1,
          slidesToScroll: 1,
          dots: true,
          arrows: true,
          autoplay: true,
          autoplaySpeed: 5000,
          infinite: true,
          speed: 500,
          fade: true,
          cssEase: 'linear',
        });

        $('.slick-workshop').slick({
          slidesToShow: 1,
          slidesToScroll: 1,
          dots: false,
          arrows: false,
          autoplay: true,
          autoplaySpeed: 5000,
          infinite: true,
          speed: 500,
          fade: true,
          cssEase: 'linear',
        });

        $('.slick-artist').slick({
          slidesToShow: 1,
          slidesToScroll: 1,
          dots: false,
          arrows: false,
          autoplay: true,
          autoplaySpeed: 5000,
          infinite: true,
          speed: 500,
          fade: true,
          cssEase: 'linear',
        });


      });
    </script>
  {% endif %}
{% endif %}

{% if page.navHide %}

<script>
  function hasClass(element, cls) {
      return (' ' + element.className + ' ').indexOf(' ' + cls + ' ') > -1;
  }

  /* NAVIGATION HEADER*/

  var didScroll = false;

  var basis = document.getElementById('{{ page.navHide }}');
  var basis_bcr = basis.getBoundingClientRect();
  var navbar = document.getElementById('km-navbar');
  var navbar_bcr = navbar.getBoundingClientRect();
  var navbar_height = $(navbar).height();
  //alert(navbar_height);
  window.onscroll = doOnScroll;

  function doOnScroll() {
      didScroll = true;
      basis_bcr = basis.getBoundingClientRect();
      navbar_bcr = navbar.getBoundingClientRect();
      navbar_height = $(navbar).height();
      //if scrolled down to exit basis
      if (basis_bcr.bottom <= navbar_height) {
        if (!(hasClass(navbar,'navbar-normalize'))) {
        //if (hasClass(navbar,'navbar-hide')) {
          navbar.classList.add('navbar-normalize');
          //navbar.classList.remove('navbar-hide');
        }
      }
      // else scrolled up
      else {
        // if scrolled to top
        if ((hasClass(navbar,'navbar-normalize')) && (basis.getBoundingClientRect().top == 0)) {
        // if ((!(hasClass(navbar,'navbar-hide'))) && (basis.getBoundingClientRect().top == 0)) {
          navbar.classList.remove('navbar-normalize');
          //navbar.classList.add('navbar-hide');
        }
      }
  }

  setInterval(function() {
      if(didScroll) {
          didScroll = false;
      }
  }, 100);

  $( window ).resize(function() {
    doOnScroll();
  });
</script>

{% endif %}

{% if page.artistDrilldown == true %}
<script>

$('#exampleModal').on('show.bs.modal', function (event) {
  var button = $(event.relatedTarget) // Button that triggered the modal
  var recipient = button.data('whatever') // Extract info from data-* attributes
  // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
  // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
  var modal = $(this)
  modal.find('.modal-title').text('New message to ' + recipient)
  modal.find('.modal-body input').val(recipient)
})

</script>

{% endif %}

{% if page.artistDrilldown == true %}

<!--script src="{{ site.baseurl }}/js/masonry.pkgd.min.js"></script-->

<style>

*, *:before, *:after {box-sizing:  border-box !important;}

.row-masonry {
 -moz-column-width: 22em;
 -webkit-column-width: 22em;
 -moz-column-gap: .0em;
 -webkit-column-gap: .0em;
}

.row-masonry .panel {
 display: inline-block;
 margin:  .5em;
 padding:  0;
 width:96%;
}

.row-masonry .panel img {
 width: 100%;
}

</style>

{% endif %}

{% if page.testCode == true %}

<script src="{{ site.baseurl }}/js/jquery.photoset-grid.min.js"></script>
<!--script src="{{ site.baseurl }}/js/jquery.colorbox.min.js"></script-->

<script>
$('.photoset-grid-lightbox').photosetGrid({
  //highresLinks: true,
  gutter: '15px',

  onComplete: function(){
    $('.photoset-grid-lightbox').attr('style', '');
  }
});
</script>

{% endif %}

{% if page.animate == true %}
  <!--script src="{{ site.baseurl }}js/wow.min.js"></script>
  <script>new WOW().init();</script-->
{% endif %}

{% if page.category == "about" %}

<!-- THIS IS FOR THE ABOUT PAGE -->

<script>

function getParameterByName(name, url) {
  if (!url) url = window.location.href;
  name = name.replace(/[\[\]]/g, "\\$&");
  var regex = new RegExp("[?&]" + name + "(=([^&#]*)|&|#|$)"),
      results = regex.exec(url);
  if (!results) return null;
  if (!results[2]) return '';
  return decodeURIComponent(results[2].replace(/\+/g, " "));
}

var submit = getParameterByName('submit');

$(document).ready(function(){
  if (submit=="success") {
    $('.alert-form-contact').show().delay(1000).fadeOut(3000);
  }
});
</script>

{% endif %}
