<footer>
  <section class="section-footer-main">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-6 col-left">
          <ul class="list-unstyled">
            <li><a href="{{ site.baseurl }}/">Home</a></li>
            {% if site.switchActivities == true %}
            <li>
              <a>Activities</a>
              <ul class="list-unstyled">
                <li><a href="{{ site.baseurl }}/activities/#gallery">Gallery Schedules</a></li>
                {% if site.switchActivitiesEventsInte == true or site.switchActivitiesEventsExte == true %}<li><a href="{{ site.baseurl }}/activities/#events">Erehwon and Other Art Events</a></li>{% endif %}
                {% if site.switchActivitiesWorkshops == true %}<li><a href="{{ site.baseurl }}/activities/#gallery">Workshops, Lectures &amp; Art Classes</a></li>{% endif %}
              </ul>
            </li>
            {% endif %}
            {% if site.switchArtists == true %}
            <li><a>Artists</a></li>
            {% endif %}
            {% if site.switchAbout == true %}
            <li>
              <a>About</a>
              <ul class="list-unstyled">
                <li><a>Core Values &amp; Objectives</a></li>
                <li><a>Core Programs</a></li>
                <li><a>Contact</a></li>
              </ul>
            </li>
            {% endif %}
            {% if site.switchShop == true %}
            <li><a>Shop</a></li>
            {% endif %}
          </ul>
        </div>
        <div class="col-lg-6 col-right">
          <img class="img-responsive" src="{{ site.baseurl }}/images/logo-full-white.png">
          <span><strong>Erehwon Art Center</strong></span><br/>
          {% for eachline in site.address %}
          <span>{{ eachline }}</span><br/>
          {% endfor %}
          <span>{{ site.number }}</span><br/>
          <span>{{ site.email }}</span>
        </div>
      </div>
    </div>
  </section>
  <section class="section-footer-copyright">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-12 text-center">
          &copy; 2016 Erehwon Art Foundation, Inc. All the contents on this site are protected by copyright law.
        </div>
      </div>
    </div>
  </section>
</footer>
