<header class="">
  <nav id="km-navbar" class="navbar navbar-default navbar-fixed-top {% if page.navHide %}{{ ' ' }}{% else %}{{ ' navbar-normalize ' }}{% endif %}">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="{% if page.home != true %}{{ site.baseurl }}{{ '/' }}{% else %}{{ '#top' }}{% endif %}">
          <img class="visible-xs img-brand" src="{{ site.baseurl }}/images/logo-glyph-white.png">
          <span>Erehwon<span class="hidden-xs"> Art Foundation<span class="hidden-sm">, Inc.</span></span></span>
        </a>
      </div>
      <!-- Collect the nav links, forms, and other content for toggling -->

      {% if site.switchActivities == true or site.switchArtists == true or site.switchAbout == true or site.switchShop == true %}
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          {% if site.switchActivities == true %}<li{% if page.category == "activities" %} class="current"{% endif %}><a href="{% if page.home != true or site.switchHeaderAnchoring != true %}{{ site.baseurl }}{{ '/' }}{% else %}{{ '#' }}{% endif %}activities">Activities</a></li>{% endif %}
          {% if site.switchArtists == true %}<li{% if page.category == "artists" %} class="current"{% endif %}><a href="{% if page.home != true or site.switchHeaderAnchoring != true %}{{ site.baseurl }}{{ '/' }}{% else %}{{ '#' }}{% endif %}artists">Artists</a></li>{% endif %}
          {% if site.switchAbout == true %}<li{% if page.category == "about" %} class="current"{% endif %}><a href="{% if page.home != true or site.switchHeaderAnchoring != true %}{{ site.baseurl }}{{ '/' }}{% else %}{{ '#' }}{% endif %}about">About</a></li>{% endif %}
          {% if site.switchShop == true %}<li{% if page.category == "shop" %} class="current"{% endif %}><a href="{{ site.baseurl }}/shop">Shop</a></li>{% endif %}
        </ul>
      </div><!-- /.navbar-collapse -->
      {% endif %}

    </div><!-- /.container-fluid -->
  </nav>
</header>
