<div class="div-activity">
  <!--img class="img-responsive" src="{{ site.baseurl }}/images/filler-640x360-1.jpg"-->
  <div class="embed-responsive embed-responsive-16by9">
    <img class="img-responsive" src="{{site.baseurl}}/images/filler-640x360-1.jpg">
  </div>
  <h2>Activity Title</h2>
  <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam
  nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat
  volutpat.</p>
  <h3>Details</h3>
  <span><strong>Time:</strong> 9:00 AM - 5:00 PM</span><br/>
  <span><strong>Venue:</strong> Erehwon Art Center Activity Hall</span><br/>
  <a href="#cta">Register</a>
</div>
