<div class="panel panel-default panel-event">
  <!--div class="panel-heading" style="background-image:url('{{site.baseurl}}/images/filler-320x240-{% if i == 1 or i == 3 %}1{% else %}2{% endif %}.jpg')"-->
  <div class="panel-heading" style="background-image:url('{{site.baseurl}}/images/filler-320x240.jpg')">
    <div class="panel-event-date">
      <span>Jan</span>
      <span>01</span>
      <span>to Jan 03</span>
    </div>
  </div>
  <div class="panel-body">
    <h2>Event Title</h2>
    <span>
      Event Exhibitor<br/>
      Event Venue</br>
      1:00 PM - 5:00 PM
    </span>
  </div>
  <div class="panel-footer">
    <a>Event details</a>
  </div>
</div>
