<a class="a-event" href="{{ site.baseurl }}/activities/event/feature/{{ eachevent.id }}" target="_blank">
  <div class="panel panel-default panel-event">
    <!--div class="panel-heading" style="background-image:url('{{site.baseurl}}/images/filler-320x240.jpg')"-->
    <div class="panel-heading">
      <div class="embed-responsive embed-responsive-4by3">
        <img class="img-responsive" src="{{site.baseurl}}/images/events/{{ eachevent.id }}/cover.jpg">
      </div>
      <div class="panel-event-date">
        {% if eachevent %}

        {% for eachday in eachevent.day %}

        {% if forloop.index == 1 or forloop.index == 3 %}
          {% if eachday == "January" %}{% assign month = "Jan" %}
          {% elsif eachday == "February" %}{% assign month = "Feb" %}
          {% elsif eachday == "March" %}{% assign month = "Mar" %}
          {% elsif eachday == "April" %}{% assign month = "Apr" %}
          {% elsif eachday == "May" %}{% assign month = "May" %}
          {% elsif eachday == "June" %}{% assign month = "Jun" %}
          {% elsif eachday == "July" %}{% assign month = "Jul" %}
          {% elsif eachday == "August" %}{% assign month = "Aug" %}
          {% elsif eachday == "September" %}{% assign month = "Sep" %}
          {% elsif eachday == "October" %}{% assign month = "Oct" %}
          {% elsif eachday == "November" %}{% assign month = "Nov" %}
          {% elsif eachday == "December" %}{% assign month = "Dec" %}
          {% else %}{% assign month = "???" %}
          {% endif %}
        {% endif %}

        {% if forloop.index == 1 or forloop.index == 2 %}
        <span>
          {% if forloop.index == 1 %}{{ month }}
          {% elsif forloop.index == 2%}{{ eachday }}
          {% endif %}
        </span>
        {% elsif forloop.index == 3 or forloop.index == 4 %}
        {% if forloop.index == 3 %}<span>to {{ month }}
        {% elsif forloop.index == 4 %} {{ eachday }}</span>
        {% endif %}
        {% endif %}

        {% endfor %}

        {% else %}
        <span>???</span>
        <span>??</span>

        {% endif %}

      </div>

    </div>
    <div class="panel-body">
      <h2>{{ eachevent.name }}</h2>
      <span>
        {{ eachevent.organizer }}<br/>
        {{ eachevent.venue }}</br>
        {{ eachevent.time }}
      </span>
    </div>
    <div class="panel-footer">
      <span>Event details&nbsp;<i class="fa fa-chevron-right" aria-hidden="true"></i></span>
    </div>
  </div>
</a>
