<div class="slick-jumbotron-panel slick-jumbotron-panel-exhibit">
  <div class="slick-jumbotron-panel-content-outer">
    <div class="slick-jumbotron-panel-content-middle">
      <div class="slick-jumbotron-panel-content-inner">
        <span class="span-artist">Artist Name</span>
        <h1 class="h1-title">Exhibit 1 Title<br/>
          <small>Exhibit Subtitle</small>
        </h1>
        <span class="span-details">
          Exhibit Room<br/>
          Exhibit Dates
        </span>
        <div class="div-sched text-center"><a class="btn btn-default">See Gallery Schedules</a></div>
      </div>
    </div>
  </div>
</div>
