---
category: "artists"
artistDrilldown: true
layout: main
---

{% for onlyartist in site.artists %}

{% if onlyartist.id == page.id %}

<section class="section-gray section-allocate-top section-artist-header" style="background-image:url('{{ site.baseurl }}/images/artists/{{ onlyartist.id }}/{{ onlyartist.cover }}');">
  <div class="div-overlay-black">
    <div class="container-fluid">
      <div class="row row-limit">
        <div class="col-lg-12">

        </div>
      </div>
    </div>
  </div>
</section>

<section class="section-content">
  <a class="anchor" id="content"></a>

  <section class="section-gray section-artist-info">
    <div class="container-fluid">
      <div class="row row-limit">
        <div class="col-lg-12 text-center">
          <img class="img-responsive center-block" src="{{ site.baseurl }}/images/artists/{{ onlyartist.id }}/{{ onlyartist.photo }}">
          <h1>{{ onlyartist.name }}</h1>
          <span>{% for eachmedium in onlyartist.medium %}{{ eachmedium }}{% if forloop.last == false %}, {% endif %}{% endfor %}</span>
        </div>
      </div>
    </div>
  </section>

  <section class="section-gray section-article section-link-prev">
    <div class="container-fluid">
      <div class="row row-limit row-limit-article">
        <div class="col-lg-12">
          {% for eachdescription in onlyartist.description %}
          <p>
            {{ eachdescription }}
          </p>
          {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </section>

  {% if site.switchArtistsWorks == true %}
  <section>
    <a class="anchor" id="works"></a>
    <div class="container-fluid">
      <div class="row row-limit">
        <div class="col-lg-12">
          <h1 class="h1-title text-center">Sample Works</h1>
        </div>
      </div>


      <div class="row row-limit">
      {% for eachart in onlyartist.art %}
        <div class="col-lg-4 col-md-4 col-sm-6">
          {% include panel-work.html %}
        </div>
      {% endfor %}
      </div>

    </div>
  </section>
  {% endif %}

</section>

{% break %}
{% endif %}

{% endfor %}
