---
category: "activities"
eventDrilldown: true
layout: main
---

{% assign checkmatch = false %}

{% for onlyevent in site.inteEvents %}
  {% if onlyevent.id == page.id %}
    {% assign checkmatch = true %}
    {% break %}
  {% endif %}
{% endfor %}

{% if checkmatch == true %}
  {% assign eventscan = site.inteEvents %}
{% else %}

  {% for onlyevent in site.exteEvents %}
    {% if onlyevent.id == page.id %}
      {% assign checkmatch = true %}
      {% break %}
    {% endif %}
  {% endfor %}

  {% if checkmatch == true %}
    {% assign eventscan = site.exteEvents %}
  {% else %}

    {% for onlyevent in site.pastEvents %}
      {% if onlyevent.id == page.id %}
      {% assign checkmatch = true %}
      {% break %}
      {% endif %}
    {% endfor %}

    {% if checkmatch == true %}
      {% assign eventscan = site.pastEvents %}
    {% endif %}

  {% endif %}

{% endif %}


{% for onlyevent in eventscan %}

{% if onlyevent.id == page.id %}

<section class="section-gray section-allocate-top section-event-header" style="background-image:url('{{ site.baseurl }}/images/events/{{ onlyevent.id }}/cover-large.jpg');">
  <div class="div-overlay-black">
    <div class="container-fluid">
      <div class="row row-limit">
        <div class="col-lg-12">
          <span class="span-artist">{{ onlyevent.organizer }}</span>
          <h1 class="h1-title">{{ onlyevent.name }}<br/>
            {% if onlyevent.sub %}<small>{{ onlyevent.sub }}</small>{% endif %}
          </h1>
          <div class="span-details">
            {% if onlyevent.day %}
            <span>
              {% for eachday in onlyevent.day %}

              {% if forloop.length == 4 %}

              {% if forloop.index == 3 %}
              to
              {{ eachday }}
              {% else %}
              {{ eachday }}
              {% endif %}

              {% else %}
              {{ eachday }}
              {% endif %}

              {% endfor %}
            </span><br/>
            {% endif %}
            {% if onlyevent.venue %}<span>{{ onlyevent.venue }}</span><br/>{% endif %}
            {% if onlyevent.time %}<span>{{ onlyevent.time }}</span>{% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section-content">
  <a class="anchor" id="content"></a>

  <section class="section-gray section-article">
    <div class="container-fluid">
      <div class="row row-limit row-limit-article">
        <div class="col-lg-12">
          {{content}}
          </div>
        </div>
      </div>
    </div>
  </section>

  {% if site.switchActivitiesEventsPhotos == true %}
  {% if page.photos %}
  <section>
    <a class="anchor" id="photos"></a>
    <div class="container-fluid">
      <div class="row row-limit">
        <div class="col-lg-12">
          <h1 class="h1-title text-center">Photos</h1>
        </div>
      </div>


      <div class="container-fluid">
        <div class="row row-limit">
          <div class="col-lg-12">

            <div class="photoset-grid-lightbox" data-layout="{% if page.photolayout %}{{ page.photolayout }}{% else %}{% for eachphoto in page.photos %}{% assign length = forloop.length %}{% break %}{% endfor %}{% assign modulo = length | modulo: 6 %}{% assign quotient = length | divided_by: 6 %}{% for i in (1..quotient) %}231{% endfor %}{% if modulo >= 2 and modulo != 3 %}2{% assign modulo = modulo | minus: 2 %}{% if modulo == 2 %}2{% assign modulo = modulo | minus: 2 %}{% endif %}{% endif %}{% if modulo >= 3 %}3{% assign modulo = modulo | minus: 3 %}{% endif %}{% if modulo >= 1 %}1{% assign modulo = modulo | minus: 1 %}{% endif %}{% endif %}" style="visibility: hidden;">
              {% for eachphoto in page.photos %}
              <img src="{{ site.baseurl }}/images/events/{{ onlyevent.id }}/{{ eachphoto.name }}" width="{{ eachphoto.width }}" height="{{ eachphoto.height }}">
              {% endfor %}
            </div>

          </div>
        </div>
      </div>


    </div>
  </section>
  {% endif %}
  {% endif %}

  <section class="section-light section-link-prev{% if page.photos %} section-gray{% endif %}">
    <div class="container-fluid">
      <div class="row row-limit">
        <div class="col-lg-12">
          <a class="btn btn-default">Back to Activities</a>
        </div>
      </div>
    </div>
  </section>


</section>

{% endif %}

{% endfor %}
